h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;}

img {
    max-height:500px;
    max-width: 500px;
    border-radius: 12px;
}

h2 {
    font-family: Palatino, serif;}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

.ingredient-list ul {
    font-family: Arial, Helvetica, sans-serif;}

.photo {
    display:inline-block;
    float: right;}

hr { border: 2px dashed #aaaaaa;
    border-radius: 5px;}

.index {
        font-size:larger;}

.index ul {
    list-style-type: square;
}

.instructions {
    background-color: whitesmoke;
    border-radius: 12px;
}
    